/* ---------------------------------
 * Simple flex-box grid
 * Author: https://css-tricks.com/dont-overthink-flexbox-grids/
 * Default options :
 * _simple = true {Boolean}
 * _gutters = false {Boolean}
 * _small = 30em {Unit}
 * _columns = 3 {Unit}
 * _space = 1% {Unit}
 ----------------------------------- */
use-flex-grid( o = {} )

    $disabled = o._disable ? unquote(o._disable) : null
    
    use('../core/disable.js', { disabled: $disabled })
    
    // Validation
    ensure(o._small, 'unit')
    ensure(o._columns, 'unit')
    ensure(o._space, 'unit')

    // Default values
    _simple  = _simple  in o ? o._simple  : true
    _gutters = _gutters in o ? o._gutters : false
    _small   = _small   in o ? o._small   : 30em
    _columns = _columns in o ? o._columns : 3
    _space   = _space   in o ? o._space   : 1%
    
    if _simple 
        +class('grid')
            display: flex
            @media ( max-width: _small  )
                flex-direction: column
            & 
                +class('grid__col')
                    flex: 1
    if _gutters
        +class('grid_gutters')
            display: flex
            justify-content: space-between
            @media ( max-width: _small  )
                flex-direction: column
            &
                +class('grid_col')
                    width: 'calc(%s - %s)' % ( ( 100 / _columns )% _space )
                    @media ( max-width: _small  )
                        width 100%
                        
    +class('grid--top')
        align-items: flex-start
    +class('grid--bottom')
        align-items: flex-end
    +class('grid--center')
        align-items: center