use-flex-grid()
    // Grid container
    .grid
        display flex
        flex-direction row
        height inherit
        @media screen and (max-width: 480px)
            flex-direction column // Make a column on mobile devices
            
    // Grid column
    .col
        flex 1
        
    // Grid container modifiers  
    .grid-top
        align-items flex-start
    .grid-bottom
        align-items flex-end
    .grid-center
        align-items center