// Import booo lib
@import('../index')


//use-reset()
//use-box-sizing-reset()

btn(settings = {})
    .btn
        -webkit-appearance none
        color settings[color] ? settings[color] : white
        cursor pointer
        background-color #1abc9c
        border-radius em(6px)
        border 1px solid transparent
        display inline-block
        font-size em(15px)
        font-weight normal
        line-height 1.471
        padding em(10px) em(19px)
        -webkit-font-smoothing subpixel-antialiased
        text-decoration none
        outline 0
        user-select none


btn()










