triangle( direction, size, face-color, back-color = transparent )
    width: 0
    height: 0
    border: size solid back-color
    if direction == up
        border-bottom-color: face-color
    if direction == down
        border-top-color: face-color
    if direction == left
        border-right-color: face-color
    if direction == right
        border-left-color: face-color